body{
	background-color:#666;
}
#header{
	width:80%;
	height:10%;
	padding:20px;
	text-align:center;
	background-color:#eee;
	color:black;
	font-size:15px;

	
}
#nav{
	
	width:80%;
	height:10%;
	padding:20px;
	text-align:center;
	background-color:#eee;
	color:black;
	font-size:15px;

}
#section{
	top:3;
	width:41%;
	height:40%;
	padding:20px;
	position:relative;
	text-align:center;
	background-color:#eee;
	color:black;
	font-size:15px;
}
#article{
	text-align: center;
	background-color:#666;
	position:absolute;
	top:245;
	left:20;
	width:40%;
	height:35%;
	padding:10px;
}
#h123{
	text-align: center;
	background-color:#eee;
	position:absolute;
	top:275;
	left:30;
	width:38.5%;
	height:9%;
	padding:10px;
}
#p{
	text-align: center;
	background-color:#eee;
	position:absolute;
	top:370;
	left:30;
	width:38.5%;
	height:10%;
	padding:10px;
}
#aside{
	text-align: center;
	background-color:#eee;
	position:absolute;
	top:233;
	left:600;
	width:36.8%;
	height:42.2%;
	padding:10px;
}
#footer{
	
	text-align:center;
	background-color:#eee;
	padding:20px;
	width:80%;
	height:10%;

	
}